body {
    background-color: whitesmoke;
}

.bg-form-color {
    background-color: #4169e1;
}

.err {
    color: red;
    display: none;
}

.hero-img {

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/keyboard.jpg");

    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hidden {
    display: none;
}


